.home{
  .logo{
    background: white;
    height: 100px;
    width: 200px;


  }
  .info-section{
    padding: 54px;

    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .info-box {
      position: absolute;
      bottom: 60px;

      h4{
        font-size: 1.2rem;
        color: $black;
        margin: 0.7rem 0;
      }
      p{
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0.2rem 0 1.6rem;
      }
    }
    .icon-section{

      a {
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0 10px;

        &:first-child{
          padding: 0 10px 0 0;
        }
      }
    }
  }

  .content-area{
    margin-left: 35%;
    width: 65%;
    background: white;
    height: 100%;
    // padding: 0 0 0 25%;
    .img-container{
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

    .user-img{
      top: 80px;
      position: absolute;
      left: -200px;
      width: 400px;
      height: calc(100% - 112px);
      background:
      url("../img/me.jpg")
      no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

    .profile-section {
      vertical-align: top;
      display: inline-block;
      padding: 20% 0 0;
      max-width: 555px;

      .profile{
      h1{
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 30px;

        span{
          color: $grey;
        }
      }
      h5 {
        font-size: 1.3rem;
        margin: 0 0 1rem;
      }
      p{
        font-weight: 300;
        line-height: 1.4;
        margin: 0 0 2rem;
      }
    }



      }

  }
}
